html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.red {
  background: red;
}

.back-gray {
  background: #343a40;
}

.back-light-gray {
  background: #f7f7f7;
}

.text-light-gray {
  color: #f7f7f7;
}

.button-trans {
  border: none;
  background: transparent;
  color: #ffffff;
}

.button-trans:hover {
  color: #dc3545;
}

.back-red {
  background: #dc3545;
}

.text-red {
  color: #dc3545;
}

.text-white {
  color: #ffffff;
}

nav a {
  text-decoration: none;
  margin: 0 0.25em;
}

nav a:hover {
  color: #dc3545 !important;
}

.navbar-brand {
  font-size: 1.5em;
}

main {
  margin-top: 78px;
}

.list-question .card {
  margin: 1em 0;
}

.question-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.question-detail-wrapper p {
  margin: 0;
}

.question-detail-wrapper img {
  width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}

.add-question-nav {
  background-color: #dc3545;
  color: #ffffff;
}

.add-question-nav:hover {
  outline: 1px solid #dc3545;
  background-color: #ffffff;
  color: #dc3545;
}

.answer-wrapper .card-body {
  padding-bottom: 0;
}

.answer-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.answer-detail-wrapper p {
  margin: 0;
}

.answer-detail-wrapper img {
  width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}

.card-text-name {
  font-size: 1.5em;
}

.answer-detail-wrapper button {
  font-size: 0.85em;
}

.profile-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.profile-detail-wrapper p {
  margin: 0;
}

.profile-detail-wrapper img {
  width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}

.profile-detail-wrapper button {
  font-size: 0.85em;
}

.inbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.inbox-wrapper p {
  margin: 0;
}

.inbox-wrapper img {
  width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}

.inbox-wrapper button {
  font-size: 0.85em;
}

.question-settings-button button {
  font-size: 0.85em;
}

.user-table img {
  width: 100%;
}

.gender-error {
  margin-left: -2em;
}
/*# sourceMappingURL=style.css.map */