@import "./variables";
html {
    position: relative;
    min-height: 100vh;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.red {
    background: red;
}
.back-gray {
    background: $grayColor;
}
.back-light-gray {
    background: $lightGrayColor;
}
.text-light-gray {
    color: $lightGrayColor;
}
.button-trans {
    border: none;
    background: transparent;
    color: $whiteColor;
    &:hover {
        color: $redColor;
    }
}
.back-red {
    background: $redColor;
}
.text-red {
    color: $redColor;
}
.text-white {
    color: $whiteColor;
}
nav a {
    text-decoration: none;
    margin: 0 0.25em;
    &:hover {
        color: $redColor !important;
    }
}
.navbar-brand {
    font-size: 1.5em;
}
main {
    margin-top: 78px;
}
.list-question .card {
    margin: 1em 0;
}
.question-detail-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.question-detail-wrapper p {
    margin: 0;
}
.question-detail-wrapper img {
    width: 3em;
    margin-right: 1em;
    border-radius: 50%;
}
.add-question-nav {
    background-color: $redColor;
    color: $whiteColor;
    &:hover {
        outline: 1px solid $redColor;
        background-color: $whiteColor;
        color: $redColor;
    }
}
.answer-wrapper .card-body {
    padding-bottom: 0;
}
.answer-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.profile-wrapper {
    display: flex;
}
.answer-detail-wrapper p {
    margin: 0;
}
.answer-detail-wrapper img {
    width: 3em;
    margin-right: 1em;
    border-radius: 50%;
}
.card-text-name {
    font-size: 1.5em;
}
.answer-detail-wrapper button {
    font-size: 0.85em;
}

.profile-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.profile-detail-wrapper p {
    margin: 0;
}
.profile-detail-wrapper img {
    width: 3em;
    margin-right: 1em;
    border-radius: 50%;
}
.profile-detail-wrapper button {
    font-size: 0.85em;
}
.inbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.inbox-wrapper p {
    margin: 0;
}
.inbox-wrapper img {
    width: 3em;
    margin-right: 1em;
    border-radius: 50%;
}
.inbox-wrapper button {
    font-size: 0.85em;
}
.question-settings-button button {
    font-size: 0.85em;
}
.user-table img {
    width: 100%;
}
.gender-error {
    margin-left: -2em;
}
